section.about
    .container.separator
        .about-wrapper
            .about-left
                .about-left__item
                    .about-left__tittle Об организаторе:
                    .about-left__text
                        p Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном использовании и частных турах. 
                        p.about-left__text--padding Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся…
                        a(href="#").about-left__button
                            p Читать еще
                            span.arrow
                .about-left__item
                    .about-left__tittle Что я предоставлю:
                    .about-left__text
                        p Встречу вас на машине после длительного перелёта. Качественный подбор места и локации для вашей съемки. При необходимости всегда возможно прерваться на обед/ужин. Более 50 фотографий на выходе с обработкой и замечательные впечатления о Дубае !
                        a(href="#").about-left__button
                            p Читать еще
                            span.arrow
            .about-right
                .about-right__img
                    img(src="../img/avatar.png", alt="ava")
                .about-right__tittle Марина Иванова
                .about-right__text Фотограф
                a(href="").about-right__button 
                    p Показать больше<br> информации о фотографе
