footer
    .container
        .footer-wrapper
            .footer-top
                .footer-logo
                    img(src="../img/icons/logo.png", alt="logo")
                .footer-social
                    .social__item
                        img(src="../img/icons/vk.svg", alt="vk")
                    .social__item
                        img(src="../img/icons/fb.svg", alt="fb")
                    .social__item
                        img(src="../img/icons/inst.svg", alt="ru")
                    .social__item-lang
                        img(src="../img/icons/ru.png", alt="ru")
            .footer-bottom
                .bottom-icons
                    .icons__item-footer
                        img(src="../img/icons/mc.svg", alt="ms")
                    .icons__item-footer
                        img(src="../img/icons/visa.svg", alt="visa.svg")
                .bottom-text
                    p Тех. поддержка: 8(800)700-00-00<br> © 2018 HELYFLY. All Rights Reserved.

