header
    .container
        .header-wrapper
            a(href="index.html").header-logo
                img(src="../img/icons/logo.png", alt="helyfly")
            .header-phone
                a(href="tel:+78001231212") Телефон: <span>8(800)-123-12-12</span>
            a(href="#").header-location Москва
            .header-mobile__icon
                img(src="../img/icons/home.svg", alt="home")