section.ya-maps
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0470ad0ff216ca90a3c343c60f8aee07901b7f48f26517fe10bac110568b244d&amp;source=constructor" width="100%" height="520" frameborder="0"></iframe>
    .container
        .maps-wrapper
        
            .location-table
                .location-table__item
                    .location-table__item-left
                        img(src="../img/icons/1.svg", alt="1")
                    .location-table__item-right
                        .item-right__tittle Где встречаемся?
                        .item-right__text Москва
                .location-table__item
                    .location-table__item-left
                        img(src="../img/icons/2.svg", alt="2")
                    .location-table__item-right
                        .item-right__tittle Время съемки
                        .item-right__text 3 часа
                .location-table__item
                    .location-table__item-left
                        img(src="../img/icons/3.svg", alt="3")
                    .location-table__item-right
                        .item-right__tittle Мест осталось:
                        .item-right__text 2 места
                .location-table__item
                    .location-table__item-left-avatar
                        img(src="../img/avatar.png", alt="ava")
                    .location-table__item-right
                        .item-right__tittle-av Мария Иванова
                        .item-right__text-av Фотограф
                        a(href="#").item-right__link-av Показать больше информации