section.offer
    .container
        .offer-wrapper
            .offer-left__tittle--hidden Фотосессия в вертолете
            .offer-left
                .offer-left__tittle Фотосессия в вертолете
                .offer-left__text Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный фотограф запечатлит лучшие моменты
                .offer-left__icons
                    .icons__item
                        .item__img
                            img(src="../img/icons/circle.svg", alt="ic")
                        .item__text 3 часа съемки
                    .icons__item
                        .item__img
                            img(src="../img/icons/photo.svg", alt="ic")
                        .item__text Более 50 фотографий
                    .icons__item
                        .item__img
                            img(src="../img/icons/location.svg", alt="ic")
                        .item__text Москва
                    .icons__item
                        .item__img
                            img(src="../img/icons/messages.svg", alt="ic")
                        .item__text Готовы ответить на любые вопросы
                    .icons__item.icons__item--bottom
                        .item__img
                            img(src="../img/icons/cup.svg", alt="ic")
                        .item__text Более <strong>50</strong> отзывов с оценкой 
                        .item__raiting
                            img(src="../img/icons/stars.png", alt="stars")
            .offer-right
                .offer-right__img
                    img(src="../img/bg/kiss.png", alt="kiss").offer-right__img-item
                    span.offer-right__button
                    <iframe id="video" width="100%" height="300px" src="https://www.youtube.com/embed/6cjQJmQa6Bg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .gallery
            .gallery-tittle Фотографии пакета:
            .gallery-mobile
                .gallery__item-mobile
                    img(src="../img/bg/smile.png", alt="g-1")
            .gallery-wrapper
                .gallery__item
                    img(src="../img/bg/smile.png", alt="g-1")
                .gallery__item
                    img(src="../img/bg/cabine.png", alt="g-2")
                .gallery__item
                    img(src="../img/bg/kiss.png", alt="g-3")
                .gallery__item
                    img(src="../img/bg/first.png", alt="g-4")
                .gallery__item
                    img(src="../img/bg/kiss.png", alt="g-5")
                .gallery__item
                    img(src="../img/bg/first.png", alt="g-6")
                .gallery__item
                    img(src="../img/bg/cabine.png", alt="g-7")
                .gallery__item
                    img(src="../img/bg/smile.png", alt="g-8")
            a(href="gallery.html").gallery-button
                    span.arrow
                    p Показать все фото
                    span.arrow