section.testimonials
    .container
        .test-tittle Отзывы:
        .test-wrapper
            .test__item
                .test-left
                    img(src="../img/test1.png", alt="t1")
                .test-right
                    .test-right__tittle Валерия Антонова
                    .test-right__text Арт-директор
                    .test-right__raiting
                        .raiting__stars
                            img(src="../img/icons/stars.png", alt="stars")
                        .raiting__promise
                            span.check
                            p Супер! Я бы заказала съемку снова!
                    .test-right__content
                        p Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто<br> замечательно. Фотки получились великолепные, отдельное спасибо фотографу!
                    .test-right__date
                        P 27 Апреля, 2019г.
            .test__item
                .test-left
                    img(src="../img/test4.png", alt="t2")
                .test-right
                    .test-right__tittle Виталий Петров
                    .test-right__text Фотограф
                    .test-right__raiting
                        .raiting__stars
                            img(src="../img/icons/stars.png", alt="stars")
                        .raiting__promise
                            span.check
                            p Супер! Я бы заказала съемку снова!
                    .test-right__content
                        p Восторг! :) Очень понравилось :) Захватили последний теплый, солнечный октябрьский день :) Впечатлило всё: сам вертолет, взлет, полёт, приземление. Организация полёта отличная. Спасибо!
                    .test-right__date
                        P 19 Апреля, 2019г.
            .test__item
                .test-left
                    img(src="../img/test3.png", alt="t3")
                .test-right
                    .test-right__tittle Джим Керри
                    .test-right__text
                    .test-right__raiting
                        .raiting__stars
                            img(src="../img/icons/stars.png", alt="stars")
                        .raiting__promise
                            span.check
                            p Супер! Я бы заказала съемку снова!
                    .test-right__content
                        p Круто-круто-круто!!! Отмечали мой ДэРэ. Отлично провели время!!! Кстати закуски были вкусными и сытными))Мы с собой ничего не брали. Сами много фоткались,поэтому воспоминания обалденные!!!)) А еще нам всем напечатали по сертификату воздухоплавателя, правда некоторые ленятся за ним съездить))) Но все равно приятно. Короче, Презентстар – проверено. Оценка: пять!
                    .test-right__date
                        P 11 Апреля, 2019г.
            a(href="#").test-button
                span.arrow
                p Показать Все (<span class="counter"></span>)
                span.arrow
        .test-wrapper-mobile
            .mobile__item
                .mobile__item-top
                    .mobile__item-top-left
                        img(src="../img/test1.png", alt="t1")
                    .mobile__item-top-right
                        .item-top-right__tittle Валерия Антонова
                        .item-top-right__text Арт-директор
                        .item-top-right__raiting
                            img(src="../img/icons/stars.png", alt="stars")
                .mobile__item-bottom
                    .item-bottom__tittle
                        span.check
                        p Супер! Я бы заказала съемку снова!
                    .item-bottom__text
                        p Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!
                    .item-bottom__date 27 Апреля, 2019г.
            .mobile__item
                .mobile__item-top
                    .mobile__item-top-left
                        img(src="../img/test4.png", alt="t4")
                    .mobile__item-top-right
                        .item-top-right__tittle Виталий Петров
                        .item-top-right__text Фотограф
                        .item-top-right__raiting
                            img(src="../img/icons/stars.png", alt="stars")
                .mobile__item-bottom
                    .item-bottom__tittle
                        span.check
                        p Супер! Я бы заказала съемку снова!
                    .item-bottom__text
                        p Восторг! :) Очень понравилось :) Захватили последний теплый, солнечный октябрьский день :) Впечатлило всё: сам вертолет, взлет, полёт, приземление. Организация полёта отличная. Спасибо!
                    .item-bottom__date 19 Апреля, 2019г.
            a(href="#").test-button
                p Показать Все (<span class="counter-mobile"></span>)
                span.arrow.arrow--rotade