sections.timetable
    .container
        .timetable-inner
            .timetable-tittle Доступная съемка<br>в ближайшее время:
            .timetable-table
                .timetable-table__tittle
                    p Пятница, 14 сентября
                    .timetable-table__tittle-icon
                        img(src="../img/icons/timetable.svg", alt="timetable")
                .timetable-table__price
                    .price-left
                        .price__timing 15:00 - 18:00
                        .price__cost 1500₽
                        .price__seat Осталось — 1 место
                    .price-right
                        a(href="№").price-right__button Выбрать
                .timetable-table__price
                    .price-left
                        .price__timing 19:00 - 22:00
                        .price__cost 1500₽
                        .price__seat Осталось — 1 место
                    .price-right
                        a(href="№").price-right__button Выбрать
                .icons__item.icons__item--border
                        .item__img
                            img(src="../img/icons/cup.svg", alt="ic")
                        .item__text Более <strong>50</strong> отзывов с оценкой 
                        .item__raiting
                            img(src="../img/icons/stars.png", alt="stars")
                
